# virtual environment
.venv

# VS Code configs
.vscode

# Logs of hydra configs (experiment runs)
outputs

# all directories named '__pycache__'
__pycache__/

# mlflow experiment logs
mlruns

/train.csv
